* {
    box-sizing: border-box;
}

body {
    font-size: 0;
}

.box {
    font-size: 16px;
    height: 300px;
    width: 25%;
    padding: 50px;
    float: left;
    border: 10px solid orange;
}

@media (max-width: 800px) {
    .box {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .box {
        border: 30px solid green;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .box {
        width: 50%
    }
}
