html {
    color: antiquewhite;
    font-size: 40px;
}

#tlo {
    background: url(https://wallpaperscraft.com/image/black_light_dark_figures_73356_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50% 50%;
    
}